<div *ngIf="(managedAccounts | json) == '{}'">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<div class="overlay" *ngIf="isLoading">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="(managedAccounts | json) != '{}'">
  <mat-list>
      <mat-card *ngFor="let managedAccount of managedAccounts | keyvalue">
        <mat-card-header>
          <mat-card-title>{{ managedAccount.key }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <a routerLink="/managed-account/{{managedAccount.value.id}}">
                <button mat-raised-button color="primary">EDIT {{managedAccount.value.name}}</button>
              </a>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <a href="{{ managedAccount.value.account_url }}">{{ managedAccount.value.account_url }}</a>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <button mat-raised-button [color]="getStatusCodeColor(managedAccount.value.status_code)">{{ getStatusCodeLabel(managedAccount.value.status_code) }}</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <button mat-raised-button color="warn" (click)="deleteManagedAccount(managedAccount.value.id)">DELETE</button>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
  </mat-list>
</div>


<mat-card>
  <mat-card-title>
    Create New Managed Account
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="newManagedAccountForm" (submit)="createManagedAccount(newManagedAccountForm.value)">
      <mat-form-field>
        <mat-label>Name:</mat-label>
        <input matInput formControlName="name" placeholder="Enter the name of the new managed account" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Source Database</mat-label>
        <mat-select [(value)]="selectedDatabase" formControlName="database" >
          <mat-option></mat-option>
          <mat-option [value]="database" *ngFor="let database of availableDatabases">{{ database }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- TODO: Need to add validation or a drop down from which the source company can be made - it works but you have to manually add the company database.
      -->
  
      <button mat-raised-button color="primary" type="submit" [disabled]="newManagedAccountForm.invalid">Create Managed Account</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- 
<div *ngIf="managedAccounts.length > 0">
  <mat-list>
    <mat-expansion-panel *ngFor="let newManagedAccount of newManagedAccounts">
      <mat-expansion-panel-header>
        {{ managedAccount.name }}
      </mat-expansion-panel-header>
        <mat-panel-description>
          <div [formGroup]="managedAccountForm">
            <form  (ngSubmit)="updateManagedAccount(managedAccountForms[managedAccount.name])">
              <mat-form-field>
                <input matInput formControlName="name" placeholder="Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="cloud" placeholder="Cloud">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="region" placeholder="Region">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="locator" placeholder="Locator">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="created_on" placeholder="Created On">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="url" placeholder="URL">
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="is_reader" placeholder="Is Reader">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput formControlName="comment" placeholder="Comment"></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="updateManagedAccount(managedAccountForms[managedAccount.name].value)" type="submit">Update</button>
            </form>
          </div>
        </mat-panel-description>
    </mat-expansion-panel>
  </mat-list>
  <button mat-raised-button color="primary" (click)="addNewEntry('changeme')">Add New Entry</button>
  <button mat-raised-button color="primary" (click)="logStuff()">Log to Console</button>
</div> -->